$primary-sub0: #050e2e;
$primary-0: #061139;
$primary-1: #111749;
$primary-1b: #151c5b;
$primary-2: #19216c;
$primary-3: #2d3a8c;
$primary-3-transparent: #2d3a8c60;
$primary-4: #35469c;
$primary-4-transparent: #35469c60;
$primary-5: #4055a8;
$primary-5-transparent: #4055a860;
$primary-6: #4c63b6;
$primary-6-transparent: #4c63b660;
$primary-7: #647acb;
$primary-8: #7b93db;
$primary-9: #98aeeb;
$primary-10: #bed0f7;
$primary-10b: #cfdcf8;
$primary-11: #e0e8f9;
$primary-11b: #f0f4fc;
$primary-12: #ffffff;

$neutral-1: #0f1923;
$neutral-2: #1f2933;
$neutral-3: #323f4b;
$neutral-4: #3e4c59;
$neutral-5: #52606d;
$neutral-6: #616e7c;
$neutral-7: #7b8794;
$neutral-8: #9aa5b1;
$neutral-9: #cbd2d9;
$neutral-10: #e4e7eb;
$neutral-11: #f5f7fa;

$accent-1-1: #035388;
$accent-1-2: #0b69a3;
$accent-1-3: #127fbf;
$accent-1-4: #1992d4;
$accent-1-5: #2bb0ed;
$accent-1-6: #40c3f7;
$accent-1-7: #5ed0fa;
$accent-1-8: #81defd;
$accent-1-9: #b3ecff;
$accent-1-10: #e3f8ff;

$accent-2-1: #841003;
$accent-2-2: #ad1d07;
$accent-2-3: #c52507;
$accent-2-4: #de3a11;
$accent-2-5: #f35627;
$accent-2-6: #f9703e;
$accent-2-7: #ff9466;
$accent-2-8: #ffb088;
$accent-2-9: #ffd0b5;
$accent-2-10: #ffe8d9;

$accent-3-1: #610316;
$accent-3-2: #8a041a;
$accent-3-3: #ab091e;
$accent-3-4: #cf1124;
$accent-3-5: #e12d39;
$accent-3-6: #ef4e4e;
$accent-3-7: #f86a6a;
$accent-3-8: #ff9b9b;
$accent-3-9: #ffbdbd;
$accent-3-10: #ffe3e3;

$accent-4-1: #014d40;
$accent-4-2: #0c6b58;
$accent-4-3: #147d64;
$accent-4-4: #199473;
$accent-4-5: #27ab83;
$accent-4-6: #3ebd93;
$accent-4-7: #64d6ad;
$accent-4-8: #8eedc7;
$accent-4-9: #c6f7e2;
$accent-4-10: #effcf6;

$text-1-size: 12px;
$text-2-size: 14px;
$text-3-size: 16px;
$text-4-size: 18px;
$text-5-size: 20px;
$text-6-size: 24px;
$text-7-size: 30px;
$text-8-size: 36px;
$text-9-size: 48px;
$text-10-size: 60px;
$text-11-size: 72px;

$text-1-weight: 400;
$text-2-weight: 700;
$text-3-weight: 900;

$small-text-size: $text-3-size;
$small-text-weight: $text-1-weight;
$small-text-semi-bold-weight: $text-2-weight;
$small-text-bold-weight: $text-3-weight;

$xsmall-text-size: $text-1-size;
$xsmall-text-weight: $text-1-weight;
$xsmall-text-bold-weight: $text-2-weight;
